<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
    <script src="https://cdn.tailwindcss.com"></script> <!-- ✅ This is important -->
</head>

<body>
    <div class="m-4 grid gap-4 sm:grid-cols-2 grid-cols-2">
        <div class="rounded bg-green-500 min-h-[100px] shadow-xl"></div>
        <div class="rounded bg-purple-500 min-h-[100px] shadow-xl"></div>
    </div>
    <div class="m-4 grid gap-4 sm:grid-cols-3">
        <div class="rounded bg-green-500 min-h-[100px] shadow-xl"></div>
        <div class="rounded bg-purple-500 min-h-[100px] shadow-xl"></div>
        <div class="rounded bg-blue-500 min-h-[100px] shadow-xl"></div>
    </div>
    <div class="m-4 grid gap-2 sm:grid-cols-12">
        <div class="rounded bg-green-500 min-h-[100px] shadow-xl sm:col-span-2 hidden sm:block"></div>
        <div class="rounded bg-purple-500 min-h-[100px] shadow-xl sm:col-span-8"></div>
        <div class="rounded bg-blue-500 min-h-[100px] shadow-xl sm:col-span-2 hidden sm:block"></div>
    </div>
</body>

</html>